<html>
  <head><title>Alert page</title>
    <script>
      function doalert() {
        alert("Ruby alert! Automate your workstations!");
      }
    </script>
  </head>
  <body>
    <h1>Alert page</h1>
    <p><button value="alert_now" onclick="doalert();">Alert me now</button></p>
    <p><button value="alert_soon" onclick="setTimeout(doalert, 3000);">Alert me soon</button></p>
  </body>
</html>

