<html>
  <head><title>Alert page</title>
    <script>
      function doalert() {
        alert("Ruby alert! Automate your workstations!");
      }
    </script>
  </head>
<body onload="setTimeout(doalert, 3000);">
  <h1>Alert page</h1>
  <p id="oldtext">An alert is coming...</p>
</body>
</html>

