<!DOCTYPE html>
<html>
<head><title>Rsel Test Site</title></head>
<body>
  <h1>Welcome</h1>
  <p>This is a Sinatra webapp for unit testing Rsel.</p>

  <div id="links">
    <a href="/about">About this site</a>
    <a href="/form">Form test</a>
  </div>

</body>
</html>

