<html>
<head><title>Rsel Test Site</title></head>
<body>
  <h1>Welcome</h1>
  <p>This is a Sinatra webapp for unit testing Rsel.</p>

  <div id="person_form">
    <form action="/thanks" method="get">
      <p>
        <label for="first_name">First name</label>
        <input id="first_name" type="text" />
      </p>
      <p>
        <label for="last_name">Last name</label>
        <input id="last_name" type="text" />
      </p>
      <p>
        <label for="biography">Life story</label>
        <textarea id="biography" cols="80" rows="10">
        </textarea>
      </p>
      <p>
        <label for="height">Height</label>
        <select id="height">
          <option value="short">Short</option>
          <option value="average" selected="selected">Average</option>
          <option value="tall" >Tall</option>
        </select>
      </p>
      <p>
        <label for="weight">Weight</label>
        <select id="weight">
          <option value="light">Light</option>
          <option value="medium">Medium</option>
          <option value="heavy">Heavy</option>
        </select>
      </p>
      <p><button value="Submit person form" /></p>
    </div>
  </form>

</body>
</html>

