<!DOCTYPE html>
<html>
<head><title>Rsel Table test</title></head>
<body>
  <h1>Tables</h1>

  <table id="contact">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Nickname</th>
      <th>Email</th>
      <th>Links</th>
    </tr>
    <tr>
      <td>Eric</td>
      <td>Pierce</td>
      <td>epierce</td>
      <td>epierce@example.com</td>
      <td><a href="/edit_eric">Edit</a></td>
    </tr>
    <tr>
      <td>Marcus</td>
      <td>French</td>
      <td>mfrench</td>
      <td>mfrench@example.com</td>
      <td><a href="/edit_marcus">Edit</a></td>
    </tr>
    <tr>
      <td>Ken</td>
      <td>Brazier</td>
      <td>kbrazier</td>
      <td>kbrazier@example.com</td>
      <td>(read-only)</td>
    </tr>
  </table>

</body>
</html>


