<!DOCTYPE html>
<html>
<head><title>Rsel Table test</title></head>
<body>
  <h1>Tables</h1>

  <table id="contact">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Nickname</th>
      <th>Email</th>
    </tr>
    <tr>
      <td>Eric</td>
      <td>Pierce</td>
      <td>epierce</td>
      <td>epierce@example.com</td>
    </tr>
  </table>

</body>
</html>


